@charset "UTF-8";

@font-face
{
	font-family:"Cobol bold";
    src:("The Northern Block - Cobol-Bold.otf");
}
@font-face
{
	font-family:"Cobol light";
    src:("The Northern Block - Cobol-Light.otf");
}
h1
{
	color:#EF914B;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	font-family:Cobol bold, sans-serif;	
}
h2
{
	text-shadow: 2px 2px 2px #EF914B;
}
img
{
	width:200px;
}
h2
{
	text-align:center;
}

body
{
	font-family:Cobol bold, sans serif;
	background-image: linear-gradient(to right, white, #005F82);
}
.my-grid
{
	border: 2px black solid;
	border-collapse:collapse;
	text-align:center;
	border-style: mixed;
	border:inset 10px #005f82;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;



}
.my-grid
{
	display : grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;

	
}
.item1
{
	background-color: #EF914B;
	grid-row: 6;
	grid-column: 1; 
}
.item2
{
	background-color: #005f82;
	grid-row: 6;
	grid-column: 2;
}
.item3
{
	background-color: #EF914B;
	grid-row: 6 ;
	grid-column:;
}
.item4
{
	background-color: #005f82;
	grid-row: 6;
	grid-column: ;
}
.item5
{
	background-color: #EF914B;
	grid-row: 6;
	grid-column: ;  
}
.item6
{
	background-color: #005f82;
	grid-row: 6;
	
}
.item7
{
	background-color: #EF914B;
	grid-row: 5;
	grid-column:6;

}
.item8
{
	background-color: #EF914B;
	grid-row: 4;
	grid-column:6;
}

.item9
{
	background-color: #EF914B;
	grid-row: 3;
	grid-column:6;
	
}
.item10
{
	background-color: #005f82;
	grid-row: 2;
	grid-column:6;
}
.item11
{
	background-color: #EF914B;
	grid-row: 1;
	grid-column:6;
}
.item12
{
	background-color: #EF914B;
	grid-row: 1;
	grid-column:5;
}

.item13
{
	background-color: #005f82;
	grid-row: 1;
	grid-column:4;
}

.item14
{
	background-color: #EF914B;
	grid-row: 1;
	grid-column:3;
}

.item15
{
	background-color: #EF914B;
	grid-row: 1;
	grid-column:2;
}

.item16
{
	background-color: #005f82;
	grid-row: 2;
	grid-column: 2;
}

.item17
{
	background-color: #EF914B;
	grid-row: 3;
	grid-column:2;
}

.item18
{
	background-color: #EF914B;
	grid-row: 4;
	grid-column: 2;
}

.item19
{
	background-color: #005f82;
	grid-row: 5;
	grid-column:2;
}

.item20
{
	background-color: #005f82;
	grid-row: 5;
	grid-column:3;
}

.item21
{
	background-color: #EF914B;
	grid-row: 5;
	grid-column:4;
}

.item22
{
	background-color: #EF914B;
	grid-row: 5;
	grid-column:5;
	
}

.item23
{
	background-color: #EF914B;
	grid-row: 4;
	grid-column:5;
}

.item24
{
	background-color: #005f82;
	grid-row: 3;
	grid-column:5;
}

.item25
{
	background-color: #005f82;
	grid-row: 2;
	grid-column:5;
}

.item26
{
	background-color: #005f82;
	grid-row: 2;
	grid-column:4;
}

.item27
{
	background-color: #EF914B;
	grid-row: 2;
	grid-column:3;
}

.item28
{
	background-color: #005f82;
	grid-row: 3;
	grid-column:3;
}

.item29
{
	background-color: #EF914B;
	grid-row: 4;
	grid-column:3;
}

.item30
{
	background-color: #005f82;
	grid-row: 4;
	grid-column:4;
}

.item31
{
	background-color: #EF914B;
	grid-row: 3;
	grid-column:4;
}

.item {
	--border-radius-size: 2em;
	border: 4px solid white;
	text-align:center;
	line-height:4em;
}


.item15,
.item27 {
	border-radius: var(--border-radius-size) 0 0 0;
}

.item1,
.item19,
.item29 {
	border-radius: 0 0 0 var(--border-radius-size);
}

.item6,
.item22,
.item30 {
	border-radius: 0 0 var(--border-radius-size) 0;
}

.item11,
.item25 {
	border-radius: 0 var(--border-radius-size) 0 0;
}

.item31 {
	border-radius: var(--border-radius-size) var(--border-radius-size) 0 0;
}

.current {
	border-color: red;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: linear-gradient(#fff, #999);	
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

.row logos
{
	display:block;
	align-item:space-between;
	width:200%; 
}




